.about-me-container{
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 100px auto;
}
.about-me-top{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

.about-me-top-buttons{
    display: flex;
    justify-content: space-between;
    width: 65%;
    margin: 0 auto 70px auto;    
}

.beauty-title, .about-me-top h1, .about-me-top input[type="submit"]{
    text-align: center;
}
.beauty-title{
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 4px;
    margin-bottom: 10px;
}
.about-me-top h1{
    font-size: 60px;
    text-transform: capitalize;
    font-weight: 500;
    letter-spacing: 4px;
    margin-bottom: 30px;
}
.about-me-top input[type="submit"]{
    border: none;
    padding: 10px 30px;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 400;
}
#contact-but{
    background-color: #3F3950;
    color: #fff;
    border-radius: 2px;
    border: 2px solid #3F3950;
}
#contact-but:hover{
    background-color: #fff;
    color: #3F3950;
    border-radius: 2px;
    transition: all .4s ease;
}
#more-but{
    background-color: #fff;
    border: 2px solid #3F3950;
    color: #000;
    border-radius: 2px;
}
#more-but:hover{
    background-color: #3F3950;
    color: #fff;
    border-radius: 2px;
    transition: all .4s ease;
}
.abt-me-bot-top, .abt-me-bot-bot{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.abt-me-bot-top-left, .abt-me-bot-top-right{
    width: 35%;
}
.middle-img{
    max-width: 1500px;
    width: 1100px;
    height: 500px;
    margin-bottom: 50px;
    border-radius: 2px;
    box-shadow: .5px .5px 10px #3F3950;
}
.Hello-title, .design-title, .abt-me-bot-top-left p, .abt-me-bot-top-right p, .creative-design, .development{
    text-align: left;
}

.Hello-title{
    font-size: 30px;
    font-weight: 200 ;
}
.design-title, .creative-design, .development{
    font-size: 30px;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.abt-me-bot-top-left p, .abt-me-bot-top-right p{
    font-size: 15px;
    font-weight: 300;
}

/* Mobile Designs */
@media (max-width:915px){
    .about-me-container{
        width: 90%;
    }
    .about-me-middle{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        width: fit-content;
    }
    .middle-img{
        width: 100%;
        height: auto;        
    }
    .about-me-top{
        width: 100%;
    }
    .beauty-title{
        font-size: 15px;
        letter-spacing: 2px;
    }
    .about-me-top h1{
        font-size: 30px;
        font-weight: 500;
    }
    .about-me-top input[type="submit"]{
        border: none;
        padding: 10px 20px;
        font-size: 15px;
    }
    .about-me-top-buttons{
        width: 90%;
        margin: 0 auto 70px auto;    
    }
    .Hello-title{
        font-size: 25px;
        font-weight: 300;
        margin-bottom: 10px;

    }
    .design-title, .creative-design, .development{
        font-size: 20px;
    }
    .abt-me-bot-top, .abt-me-bot-bot{
        flex-direction: column;
    }
    .abt-me-bot-top-left, .abt-me-bot-top-right{
        width: 100%;
        margin-bottom: 20px;
    }
    .abt-me-bot-top-left p, .abt-me-bot-top-right p{
        font-size: 14px;
        text-align: justify;
    }
}