.contact-container{
    display:flex ;
    justify-content: space-between;

}
.l-side{
    width: 50%;
}
.r-side{
    display: flex;
    flex-direction: column;
    width: 30%;
}
.r-side form{
    display: flex;
    flex-direction: column;
    width: 80%;
}
.r-side form input{
    margin-bottom: 2vh;
    padding: 10px 20px;
    width: 100%;
    border-radius: 10px;
    border: .5px solid #000;
}
#cont-but{
    width: 40%;
    border: .5px solid #000;
    display: flex;
}