.footer{
    display: flex;
    justify-content: space-evenly;
    background: #550808;
    height: 300px;
    color: #fff;
    align-items: center;
    width: 100%;
}

.Links li{
    list-style: none;
}
.footer-icons{
    display: flex;
    margin-bottom: 30px;
}
.footer-icons li{
    list-style: none;
}
.Ace{
    display: flex;
    font-size: 100px;
    font-weight: 300;
    
}