.footer{
    display: flex;
    justify-content: space-evenly;
    background: #550808;
    height: 30vh;
    color: #fff;
    align-items: center;
    width: 100%;
}
.Links li{
    list-style: none;

}
.footer-icons{
    display: flex;
}
.footer-icons li{
    list-style: none;
}
.Ace{
    align-items: flex-start;
    font-size: 4rem;
    font-weight: lighter;
}