.header{
    display: flex;
    flex-direction: row;
    height: 20vh;
    align-items: center;
}
.header-logo a, .header-links a{
    text-decoration: none;
    color: black;

}
.header-logo{
    list-style: none;
    margin-right: 5vw;
    margin-left: 3vw;
}
.header-logo a:hover{
    transition: .3s ease-out;
    text-shadow: 2px 2px 5px #000;
}
.header-logo a{
    font-size: 130px;
    font-weight: 200;
    letter-spacing: 5px;
}
.header-links{
    list-style: none;
    margin-right: 2vw;
}
.header-links a{
    font-size: 1.5rem;
    font-weight: 400;
}
.header-links a:hover{
    color: #E85A4F;
    border-bottom: 2px solid #E85A4F;
    padding-bottom: 4px;
    transition: .3s ease-out;
}
.header-links-active{
    color: #E85A4F !important;
    padding-bottom: 4px;
    border-bottom: 2px solid #E85A4F;
}
.header-links-active:hover{
    color: #000 !important;
    padding-bottom: 2px !important;
    border-bottom: 2px solid #000 !important;
    transition: .3s ease-in;
}
.header-links span{
    margin-left: 2vw;
    color: #000;
}

