.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}
.left-side{
    width: fit-content;
    height: fit-content;
    margin-left: 3vw;
}
.right-side{
    width: fit-content;
    text-align: right;
}
.right-side img{
    width: 35%;
    height: 35%;
    border-radius: 15625px;
    margin-right: 3vw;
}
.icons{
    display: flex;
}
.icon{
    margin-right: 2vw;
}
.icon{
    list-style: none;
}
.l-title{
    margin-bottom: 50px;
    font-size: 100px;
    font-weight: 300;
}
.cont-lf-line{
    width: 30%;
    height: 2px;
    background-color: #E85A4F;
    margin-bottom: 30px;
}
.sub-content{
    font-size: 30px;
    font-weight: 300;
}
.sub-title{
    font-size: 60px;
    font-weight: 400;
    text-transform: capitalize;
}